@import url("https://fonts.googleapis.com/css?family=Inter");

.animation-editor {
  font-family: "Inter";
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 25%;
  height: 50%;
}

.quarter-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 0;
  width: 25%;
  height: 25%;
  transition: transform 0.5s ease, opacity 0.5s ease; /* make it look like the circles grow/shrink */
  cursor: pointer;
}

.quarter-circle:first-child {
  background-color: pink;
  z-index: 3;
}

.quarter-circle.true:nth-child(2) {
  background-color: orange;
  transform: scale(3.5);
  z-index: 2;
  opacity: 1;
}

.quarter-circle.true:nth-child(3) {
  transform: scale(6.5);
  background-color: green;
  z-index: 1;
  opacity: 1;
}
