/* knob credit: https://codepen.io/bbx/pen/QBKYOy */

.animation-editor {
  font-family: "Inter";
  background-color: white;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.knob-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.knob1 {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.knob2 {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
