/* knob credit: https://codepen.io/bbx/pen/QBKYOy */

.knob-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.ticks {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tick {
  position: absolute;
  background: black;
  box-shadow: inset 0 0 0 0 black;
  width: 3px;
  transition: box-shadow 0.5s;
}

.bottom .tick.active {
  box-shadow: inset 0 0 5px 2px var(--active-tick-bottomColor),
    0 0 0 1px var(--tick-outline-bottomColor);
}

.top .tick.active {
  box-shadow: inset 0 0 5px 2px var(--active-tick-topColor),
    0 0 0 1px var(--tick-outline-topColor);
}

.outer {
  border-radius: 50%;
  border: 1px solid #222;
  border-bottom: 5px solid #222;
  box-shadow: 0 5px 15px 2px black, 0 0 5px 3px black, 0 0 0 12px #444;
}

.inner {
  border-radius: 50%;
}

.inner .grip {
  position: absolute;
  width: 8%;
  height: 8%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0 0 3px 1px black;
}

.top-knob .inner .grip {
  background: var(--knob-top-inner-grip-color);
}

.bottom-knob .inner .grip {
  background: var(--knob-bottom-inner-grip-color);
}

.bottom-knob {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.top-knob {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.circle {
  background-color: white;
  border-radius: 50%;
}
