.animation-controls {
  margin: 0px 40px;
  z-index: 16;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
  background-color: rgba(33, 33, 33, 0.95);
  border-radius: 5px 5px 0px 0px;
}

.animation-controls-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animation-controls-label {
  color: white;
  font-family: "inter";
  font-weight: bold;
  font-size: 15px;
}
